body {
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.nav-bar {
    position: absolute;
    top: 0;
    width: 100%;
}

.main-nav {
    font-size: 14px;
    display: flex;
    list-style: none;
    margin: 0;
    line-height: 50px;
}

.main-nav li:first-child {
    margin-right: auto;
}

.main-nav a {
    color: #000;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f2f2f2;
  }

.logo {
    font-size: 25px;
}

#background {
    background-color: #f2f2f2;
    height: 300px;
}

.summary {
    margin: -240px 0 0 40px;
}

.summary h1 {
    font-size: 80px;
}

.summary img {
    box-shadow: 3px 3px 15px 0px rgba(199,199,199,1);
}

.flex-container {
    text-align: center;
    font-size: 15px;
    padding-left: 40px;
}

.col-3 {
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    text-align: left;
}
#skills {
    background-color: #f2f2f2;
    padding: 30px;
}

.skills-icons {
    width: 50px;
}

footer {
    background-color: #f2f2f2;
    padding-top: 20px;
    display: block;
}

ul {
    list-style: none;
    font-size: 11px;
    line-height: 25px;
    color: #616161;
}

a {
    text-decoration: none;
    color: #0067b8;
}

ul a {
    text-decoration: none;
    color: #616161;
}

#news {
    font-size: 14px;
}

img {
    width: 90%;
}

.btn {
    border: 1px gray solid;
    padding: 10px;
}

h4 {
    font-size: 14px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 13px;
}

.experience {
    padding: 30px;
    background-color: #f2f2f2;
}
.experience h2, #projects h2, #skills h2  {
    text-align: center;
}

.experience-right {
    text-align: right;
}
.experience-left {
    text-align: left;
}

.experience-dates {
    color: #749990;
}
.experience img {
    box-shadow: 3px 3px 15px 0px rgba(199,199,199,1);
    width: 60%;
}
.experience-detail {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

@media screen and (min-width: 540px) {
    .summary {
        margin: -240px 0 0 40px;
        display: flex;
    }

    .flex-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-flow: row wrap;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: auto;
        padding-left: 40px;
    }

    .col-3 {
        width: 50%;
        padding-top: 20px;
        padding-bottom: 20px;
        display: inline-block;
        text-align: left;
    }

    .about {
        display: flex;
    }

    .about-img {
        width: 50%;
    }
    
}

@media screen and (min-width: 1080px) {
    .col-3 {
        width: 24%;
    }
}